body{
    background-color: #4a4a4a;
}
#container{
    margin-top: 10%;
    text-align: center;
    align-items: center;
}
.digit{
    font-size: 150px;
    color: aliceblue;
}
.text{
    font-size: 40px;
    color: aliceblue;
}
.button{
    margin-top: 5%;
    padding: 20px 100px;
    color: whitesmoke;
    font-size: 25px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
#start{
    background-color: #19a938;
}
#stop{
    background-color: #73852a;
}
#reset{
    background-color: #d05a5a;
}
h1{
    text-align: center;
    color: #14fe08;
    font-size: 80px;
}